@import "~bootstrap/scss/bootstrap";

// ROOT
:root {
    --container_big_width: 75%;

    --main_color: #0282f9;
    --main_bg_text_color: #ffffff;
    --dark_section_text_color: #ffffff;
    --secondary_text_color: #9f9f9f;

    --footer_bg_color: #303030;
    --footer_title_color: #ffffff;
    --footer_text_color: #959595;
}

body {
    font-family: "Open Sans Condensed", sans-serif;
}

img {
    max-width: 100%;
}

// UTILITIES

.flex-center {
    justify-content: center;
    align-items: center;
}

// HEADER
header {
    .top-header {
        font-size: 0.7rem;
        font-weight: bold;
        color: white;
        background-color: var(--main_color);

        .text-container {
            margin: auto;
            width: var(--container_big_width);
            justify-content: end;
        }
    }

    .container {
        width: var(--container_big_width);

        .logo {
            width: 7%;
        }

        .nav-bar {
            justify-content: center;
            align-items: stretch;

            .list-items {
                margin: 0;

                li {
                    position: relative;
                    height: 100%;

                    a {
                        text-decoration: none;
                        color: #000000;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .arrow-down {
                        color: var(--main_color);
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        background-color: var(--main_color);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }

                    &:hover {
                        a {
                            color: var(--main_color);
                        }

                        &::after {
                            height: 5px;
                        }
                    }
                }
            }
        }

        .search-bar {
            border-bottom: 3px solid var(--main_color);
            input {
                border: none;
                width: 80%;
                &:focus-visible {
                    outline: none;
                }
            }

            button {
                &:active {
                    color: #00000000;
                    background-color: #00000000;
                    border-color: #00000000;
                }
            }
        }
    }
}

// FOOTER
footer {
    .footer-top {
        background-image: url(../img/footer-bg.jpg);
        background-size: cover;
        height: 25rem;
        .container {
            width: var(--container_big_width);
            height: 100%;

            .left-section {
                padding: 2rem 0;
                width: 40%;
                height: 100%;

                .link-section {
                    width: 100%;
                    height: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .link-card {
                        .list-title {
                            text-transform: uppercase;
                            color: var(--dark_section_text_color);
                        }
                        ul {
                            padding: 0;
                            li {
                                list-style-type: none;

                                a {
                                    text-decoration: none;
                                    color: var(--secondary_text_color);
                                }
                            }
                        }
                    }
                }
            }

            .rigth-section {
                width: 47%;
                height: 100%;
                background-image: url(../img/dc-logo-bg.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .sign-up-btn {
                text-decoration: none;
                color: var(--footer_title_color);
                padding: 1rem;
                border: 2px solid var(--main_color);
                font-weight: bold
            }
        }
    }
}
